<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student</title>
  </head>
  <body>
    <h1>Add Student Data</h1>
    <a href="/students">< Back</a>
    <p style="color:red"><%= err %></p>
    <form action="/students/add" method="post">
      <input type="text" name="first_name" placeholder="First Name">
      <input type="text" name="last_name" placeholder="Last Name">
      <input type="text" name="email" placeholder="Email">
      <input type="submit" value="Add Student">
    </form>
  </body>
</html>
