<%- include layout/head %>
    <h1>Add Teacher Data</h1>
    <a href="/teachers">< Back</a>
    <p style="color:red"><%= err %></p>
    <form action="/teachers/add" method="post">
      <input type="text" name="first_name" placeholder="First Name">
      <input type="text" name="last_name" placeholder="Last Name">
      <input type="text" name="email" placeholder="Email">
      <input type="submit" value="Add Teacher">
    </form>
<%- include layout/foot %>
